.pic {
  
  height: 200px ;
}

.App {
position: relative;

text-align: center;

background-color: rgb(253, 253, 253);
}

.btn{

  margin: 30px;

  background-color: white;
  color: black;
  border: 2px solid #57a1c1; 
  border-radius: 6px;
  padding: 11px 9px;

}

.btn {
  transition-duration: 0.4s;

}

.btn:hover {
  background-color: #73bcd6; 
  color: white;
}



table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

 td,  th {
  border: 1px solid #ddd;
  padding: 8px;
}

 tr:nth-child(even) {background-color: #e3ebefbf;}

 tr:hover {background-color: #87d1ff75;}


 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #26b3f4;
  color: white;
}
